* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica; }
  * section {
    display: none; }
  * .show {
    display: block; }
  * input[type="text"] {
    width: 100%;
    outline: none; }
  * h1 {
    text-align: center;
    font-weight: 100;
    font-size: 4em; }

.container {
  width: 50%;
  margin: 0 auto; }
  .container .tabNav div {
    display: inline-block;
    width: 32%;
    margin-top: 20px; }
  .container nav {
    width: 32%;
    display: inline-block; }
    .container nav li {
      display: inline-block;
      text-decoration: none; }

.completed {
  text-decoration: line-through;
  color: lightgray; }

.active {
  text-decoration: none;
  color: black; }
